* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: "Open Sans", sans-serif;
}

/* frist section start */

header{
    width: 100%;
    height: 528px;
    background-image: url(../images/header-background.webp);
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
  }
  .navbar_container {
    max-width: 1140px;
    height: 88px;
    margin: 0 auto;
    padding: 0px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar_logo {
    font-size: 28.8px;
    font-weight: bold;
  }
  nav {
    display: flex;
    gap: 24px;
  }
  nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
  }
  /* nav a:hover { */
    /* color: #00ffd5; */
  /* } */
  .header_content{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 73px;
    margin-left: 210px;
    padding: 0 16px;
  }
.content_col{
    max-width: 697px;
    height: 250px;
  }
.content_col h4{
    font-size: 14px;
    color: #ffff;
    opacity: 60%;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 0.4px;
  }
.content_col p{
    font-size: 24px;
    font-weight: bold;
    margin-top: 24px;
    line-height: 40px;
    letter-spacing: 0.2px;
    color: white;
  }
  .btn {
    width: 144px;
    height: 40px;
    font-size: 16px;
    background-color: #0193DC;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 48px;
}
#menu-toggle {
    display: none;
  }
  .menu-icon {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
  }
  .menu-icon span {
    width: 25px;
    height: 3px;
    background: white;
    transition: 0.3s;
  }
  nav {
    display: flex;
    gap: 24px;
  }
  nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  nav a:hover {
    color: #0193DC;
  }

  #menu_home{
    border-bottom: 2px solid white;
    border-width: 2px;
  }
/* frist section end */

/* second section start */

.hero{
    padding-top: 80px;
    padding-bottom: 80px;
}

.hero_container{
  max-width: 1140px;
  height: auto;
  margin:0 auto;
  display: flex;
  flex-direction: row;
  padding: 0 16px;
}

.hero_main{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.hero_video_content {
  max-width: 500px;
  height: 342px;
}


.content_video{
  max-width: 456px;
  height: 342px;
  margin-top: 10px;
  position: relative;
  z-index: 2;
}

.hero_img{
  max-width: 170px;
  height: 130px;
  z-index: 1;
  position: relative;
  top: -38%;
  left: 1%;
}

.content_video video{
  max-width: 439px;
  height: 325px;
}

.hero_text_container {
  max-width: 585px;
  height: 264px;
  margin-top: 20px;
  margin-left: 30px;
}

.hero_text_container h2{
  max-width: 397px;
  height: 96px;
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;
  letter-spacing: 0.3px;
  vertical-align: middle;
  color: #0C101A;
}
.hero_text_container p {
  max-width: 585px;
  height: 64px;
  color:#919FAE;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 0.5px;
  margin-top: 24px;
}

.hero_text_container button{
  width: 184px;
  height: 40px;
  border-radius: 4px;
  margin-top: 40px;
  background-color: #0193DC;
  border: none;
}

.hero_text_container button span{
  max-width: 91px;
  height: 18px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.3px;
  text-align: center;
  vertical-align: middle;
  color: #FFFFFF;
}

/* second section end */

/* third section start */

#card{
  background-color:#F9FBFD;
}

.card_container{
  max-width: 1140px;
  height: 620px;
  background-color:#F9FBFD;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0 16px;

}

.card_row{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card_col_1{
  width: 50%;
}

.card_col_2{
  width: 50%;
}

.card_content_description{
  max-width: 450px;
  height: 412px;
  border-right: 1px solid #F4F6F5;
  margin-top: 120px;
}

.card_block{
  max-width: 368px;
  height: 230px;
  border-radius: 4px;
  
}
.card_block span{
  width: 170px;
  height: 38px;
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.3px;
  vertical-align: middle;
  color: #0C101A;
}

.card_block p{
  max-width: 368px;
  height: 96px;
  font-weight: 400;
  font-size: 13px;
  line-height: 32px;
  letter-spacing: 0.5px;
  margin-top: 16px;
  color: #919FAE;
}

.card_block button{
  width: 184px;
  height: 40px;
  border-radius: 4px;
  background-color: #0193DC;
  margin-top: 40px;
  border: #0193DC;
  cursor: pointer;
}

.card_block button span{
  width: 91px;
  height: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.3px;
  text-align: center;
  vertical-align: middle;
  color: #FFFFFF;
}


.card_content_box{
  display: flex;
  gap: 40px;
  flex-direction:row;
  flex-wrap: wrap;
  margin: 40px 0px;

}

.card{
  max-width: 250px;
  height: 250px;
  background-color:#FFFFFF;
  border-radius: 5px;
}

.card_inner_content{
  width: 216px;
  height: 171px;
  margin-top: 40px;
  margin: 17px;
}
.card_inner_content h1{
  width: 85px;
  height: 27px;
}
.card_inner_content p{
  width: 216px;
  height: 48px;
}

.card_inner_content img{
  width: 40px;
  height: 41px;
}

#card_heading_1{
  width: 85px;
  height: 27px;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.3px;
  vertical-align: middle;
  margin-top: 24px;
  color: #0C101A;
}
#card_heading_2{
  width: 66px;
  height: 27px;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.3px;
  vertical-align: middle;
  color: #0C101A;
  margin-top: 24px;
}
#card_heading_3{
  width: 78px;
  height: 27px;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.3px;
  vertical-align: middle;
  color: #0C101A;
  margin-top: 24px;
}
#card_heading_4{
  width: 83px;
  height: 27px;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.3px;
  vertical-align: middle;
  color: #0C101A;
  margin-top: 24px;
}
.card_inner_content p{
  width: 216px;
  height: 48px;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #919FAE;
}

/* third section end */

/* four section start */

.search_main{
  padding-top: 80px;
  padding-bottom: 100px;
}

.search_container{
  max-width: 1140px;
  height: auto;
  margin: 0 auto;
  padding: 0px 16px;
}
.search_container_heading{
  max-width: 1140px;
  height: auto;
  display: flex;
  margin: 0 auto;
  flex-direction: row;  
}

.search_heading {
  display: flex;
  justify-content: start;
}


.search_heading h1{
  width: 227px;
  height: 38px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.3px;
  vertical-align: middle;
  color: #0C101A;
}


.search_bar input{
  width: 400px;
  height: 48px;
  border-radius: 4px;
  margin-left: 56px;
  padding: 10px 40px;
  border: 2px solid #F6F7F9;
  border-radius: 4px;
  outline: none !important;
  font-size: 16px;
  background-color: #F6F7F9;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.3px;
  vertical-align: middle;

}

.search-icon {
  width: 16px;
  height: 16px;
  transform: translate(88px,4px);
  color: #919FAE;
  font-size: 18px;
}

.search_item{
  max-width: 1140px;
  height: auto;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  
}

.search_item_row_1{
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid #F4F6F5;
  gap: 24px;
  padding-right: 50px;
}



.search_item_card{
  max-width: 582px;
  height: 152px;
  display: flex;
  flex-direction: row;
}

.search_card_img img{
    max-width: 188px;
    height: 152px;
}

.search_card_content{
  max-width: 377px;
  margin-left: 8px;
}

.search_card_content h3{
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.3px;
  vertical-align: middle;
}

.search_card_content p{
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #919FAE;
  text-align: start;
}

.search_card_content span{
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #919FAE;
}

.search_card_content a {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.3px;
  float: right;
}


.search_item_row_2{
  display: flex;
  flex-direction: column;
  margin-top: 55px;
  margin-left: 58px;
  gap: 40px;
}

.search_item_card_2{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box_1{
  display: flex;
  flex-direction: row;
}

.box_content{
  margin-left: 27px;
}

.box_content span{
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #919FAE;
}

.box_content h3{
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.3px;
  vertical-align: middle;
  color: #0C101A;
}

/* four section end */

/* five section start */

#gallery{
  background-color: #F9FBFD;
}

.gallery_containor{
  max-width: 1140px;
  height: auto;
  margin: 0 auto;
  padding: 20px 16px;
}

.gallery_row{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 40px;
}

.galery_col{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery_img{
  width: 100%;
}

.gallery_img img{
  width: 100%;
}

.gallery_containor button{
  padding: 11px 25px;
  background-color: #0193DC;
  border-radius: 3px;
  border: none;
  margin-top: 40px;
  
}

.gallery_containor button a{
    width: 91px;
    height: 18px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: #FFFFFF;
}


/* five section end */


/* six section start */

footer{
  margin-top: 80px;
  background-color: #F9F9F9;
}
.footer_container{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 16px;
}

.footer_row{
  display: flex;
  flex-wrap: wrap;
}

.footer_col{
  width: 25%;
  justify-items: center;
}

.footer_box_1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 64px;
}

.footer_box_1 img{
  width: 52px;
  height: 64px;
}

.footer_box_1 p{
  font-family: Open Sans;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin-top: 16px;
}

.footer_box_1 h3{
  font-family: Open Sans;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.3px;
  margin-top: 24px;
}

.footer_box_2{
  display: flex;
  flex-direction: column;
  margin-top: 64px;
}

.footer_box_2 h2{
  font-family: Open Sans;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.3px;
}

.footer_box_2 span a{
  font-family: Open Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 0.2px;
  text-decoration: none;
  color: #3A4E50;
}

.footer_box_3{
  display: flex;
  flex-direction: column;
  margin-top: 64px;
}



.footer_box_3 h4{
  font-family: Open Sans;
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0.3px;
}

.footer_box_3 span a{
  font-family: Open Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  text-decoration: none;
  color: #3A4E50;
}

.footer_box_4{
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 64px;
}

.footer_box_4 h3{
  font-family: Open Sans;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.3px;

}

.footer_icon{
  margin-top: 40px;
  line-height: 50px;
  width: 128px;
  height: 32px;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.icon_gap{
  width: 32px;
  height: 32px;
  border-radius: 8px;
  border-width: 1px;
  border: 1px solid #E6E6E7;
}

.icon_gap a i{
  top: -25%;
  position: relative;
  color: #373F41;
}

.footer_bottomline{
  margin-top: 56px;
  border: 1px solid #E6E6E7;
}

.footer_bottomtxt p{
  font-family: Open Sans;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.3px;
  padding: 28px 0px;
  color: #0C101A;
}

/* six section end */


/*-/-/-/-/-/-/-/-/ Responsive /-/-/-/-/-/-/-/-/-/-/-*/


@media (max-width:1200px) {

  /* frist section start */
  .header_content{
    margin-top: 73px;
    margin-left: 40px;
  }
  /* frist section end */

  /* second section start */
  .hero_text_container h2 {
    font-size: 21px;
  }
  /* second section end */

  /* third section start */
  .card_container{
    max-width: 1440px;
    height: auto;
    background-color:#F9FBFD;
    display: flex;
    flex-direction: column;
  }
  
  .card_row{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .card_col_1{
    width: 100%;
  }
  
  .card_col_2{
    width: 100%;
  }
  
  .card_content_box{
    display: flex;
    margin-top: 40px;
    gap: 20px;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:  center;
    align-items: center;
  }
  
  .card_content_description{
    max-width: 450px;
    height: auto;
    border-right: 1px solid #F4F6F5;
    
  }

/* third section end */

/* four section start */

.search_container {
  max-width: 1140px;
  height: auto;
  margin: 0 auto;
  padding: 0px 16px;
}

/* four section end */

/* five section start */
.gallery_containor{
  max-width: 1140px;
  height: auto;
  background-color: #F9FBFD;
  margin: 0 auto;
  padding: 16px 16px;
}

.gallery_row{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
}

.galery_col{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* five section end */
}

@media (max-width: 992px) {

  
.gallery_containor{
  max-width: 1140px;
  height: auto;
  background-color: #F9FBFD;
  margin: 0 auto;
  padding: 16px 16px;
}

.gallery_row{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
}

.galery_col{
  width: 29.33%;
  display: flex;
  justify-content: center;
  align-items: center;
}


  
  
}

  @media (max-width: 768px) {
    /* frist section start */
    .navbar_container {
      flex-direction: row;
      align-items: center;
    }

    nav {
      flex-direction: column;
      gap: 16px;
      margin-top: 16px;
    }

    .menu-icon {
        display: flex;
    }

    nav {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: #ffffff;
        flex-direction: column;
        opacity: 100%;
        gap: 16px;
        align-items: center;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
      
    }
    nav a {
      color: #0193DC;
      text-decoration: none;
      transition: color 0.3s;
    }

    #menu-toggle:checked ~ nav {
      max-height: 300px;
    }

    .header_content{
      margin-top: 73px;
      margin-left: 40px;
    }

    .content_col p{
      font-size: 23px;
      margin-top: 24px;
    }

  /* frist section end */

  /* second section start */
  .hero_main{
    display: flex;
    flex-direction: column;
  }

  .hero_video_content {
    width: 425px;
    height: 220px;
    margin: 0 auto;
  }

  .content_video{
    max-width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  
  .content_video video{
    width: 300px;
    height: 200px;
  }

  .hero_img{
    max-width: 170px;
    height: 130px;
    z-index: 1;
    position: relative;
    top: -51%;
    left: 11%;
  }

.hero_text_container h2{
  max-width: 520px;
  font-size: 25px;
  line-height: 40px;
}
.hero_text_container p {
  max-width: 520px;
  color:#919FAE;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  margin-top: 0px;
}

.hero_text_container span{
  max-width: 91px;
  height: 18px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.3px;
  text-align: center;
  vertical-align: middle;
  color: #FFFFFF;
}
/* second section end */

/* third section start */
.card_container{
  max-width: 1140px;
  height:0 auto;
  background-color:#F9FBFD;
  display: flex;
  flex-direction: column;
  padding: 16px 16px;
}

.card_row{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.card_col_1{
  width: 100%;
}

.card_col_2{
  width: 100%;
}

.card_content_box{
  display: flex;
  margin-top: 40px;
  gap: 20px;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content:  center;
  align-items: center;
}

.card_content_description{
  max-width: 450px;
  height: auto;
  border-right: 1px solid #F4F6F5;
  margin: 0 20px;
}

.card_block {
  max-width: 500px;
  height: 230px;
  border-radius: 4px;
}

.card_block p{
  max-width: 500px;
  height: 96px;
  font-weight: 400;
  font-size: 13px;
  line-height: 32px;
  letter-spacing: 0.5px;
  margin-top: 16px;
  color: #919FAE;
}

/* third section end */

/* four section start */

.search_container_heading{
  max-width: 1140px;
  height: auto;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: center;
}

.search_heading {
  display: flex;
  justify-content: start;
}

.search_bar input{
  max-width: 250px;
  height: 48px;
  border-radius: 4px;
  margin-left: 15px;
  padding: 10px 40px;
  border: 2px solid #F6F7F9;
  border-radius: 4px;
  outline: none !important;
  font-size: 16px;
  background-color: #F6F7F9;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.3px;
  vertical-align: middle;
}

.search-icon {
  width: 16px;
  height: 16px;
  transform: translate(50px, 4px);
  color: #919FAE;
  font-size: 18px;
  
}

.search_item{
  max-width: 1140px;
  height: auto;
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  margin: 0 auto;
  
}

.search_item_card{
  display: flex;
  flex-direction: row;
}

.search_item_row_1{
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  border-right: none;
  padding: 0px 10px;
}

.search_card_content{
  max-width: 377px;
  margin-left: 8px;
  margin-top: 10px;
}

.search_item_row_2 {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 10px;
  gap: 40px;
  padding: 10px;
}

/* four section end */

/* five section start */


.gallery_containor{
  max-width: 1140px;
  height: auto;
  background-color: #F9FBFD;
  margin: 0 auto;
  padding: 16px 16px;
}

.gallery_row{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 40px;
  justify-content: start;
}

.galery_col{
  width: 46%;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* five section end */

.footer_row{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.footer_col{
  width: 50%;
  justify-items: flex-start;
}

}


@media (max-width:576px) {
  /* frist section start */
.content_col p{
    font-size: 14px;
    margin-top: 24px;
  }
  .btn {
    margin-top: 20px;
    align-items: center;
  }
  /* frist section end */
  
 /*  second section start */

 .hero_container{
  max-width: 1140px;
  height: auto;
  margin:0 auto;
  display: flex;
  flex-direction: row;
  padding: 0 16px;
}

  .hero_main{
    display: flex;
    flex-direction: column;
  }

  .hero_video_content {
    max-width: 300px;
    height: 220px;
  }

  .content_video{
    max-width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  
  .content_video video{
    width: 100%;
    height: 200px;
  }

  .hero_img{
    max-width: 170px;
    height: 130px;
    z-index: 1;
    position: relative;
    top: -51%;
    left: 7%;
  }
.hero_text_container h2{
  max-width: 345px;
  font-size: 16px;
  line-height: 40px;
}
.hero_text_container p {
  max-width: 300px;
  color:#919FAE;
  font-weight: 300;
  font-size: 12px;
  line-height: 25px;
  margin-top: 0px;
}

.hero_text_container span{
  max-width: 91px;
  height: 18px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.3px;
  text-align: center;
  vertical-align: middle;
  color: #FFFFFF;
}

/* second section end */

/* third section start */

.card_container{
  max-width: 1140px;
  height: auto;
  background-color:#F9FBFD;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 16px;
}

.card_row{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.card_col_1{
  width: 100%;
}

.card_col_2{
  width: 100%;
}

.card_content_description{
  max-width: 450px;
  height: 310px;
  margin-top: 12px;
  margin-left: 0px;
  border-right:none;
}

.card_block{
  max-width: 368px;
  height: 230px;
  border-radius: 4px;
  margin-left: 20px;
  margin-top: 60px;
}

.card_block button{
  margin-top: 60px;
}

.card_content_box{
  display: flex;
  margin-top: 40px;
  gap: 40px;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content:  center;
  align-items: center;
}




/* third section end*/
/* four section start */

.search_container_heading{
  max-width: 1140px;
  height: auto;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
}

.search_heading {
  display: flex;
  justify-content: start;
  padding: 0px 20px;
}

.search_bar{
  margin-top: 10px;
}

.search_bar input{
  max-width: 250px;
  height: 48px;
  border-radius: 4px;
  margin-left: 15px;
  padding: 10px 40px;
  border: 2px solid #F6F7F9;
  border-radius: 4px;
  outline: none !important;
  font-size: 16px;
  background-color: #F6F7F9;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.3px;
  vertical-align: middle;
}

.search-icon {
  width: 16px;
  height: 16px;
  transform: translate(50px, 4px);
  color: #919FAE;
  font-size: 18px;
  
}

.search_item{
  max-width: 1140px;
  height: auto;
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  margin: 0 auto;
  
}

.search_item_card{
  display: flex;
  flex-direction: column;
}

.search_item_row_1{
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 120px;
  border-right: none;
  margin-left: 0px;
  padding: 0px 0px !important;
}

.search_card_content{
  max-width: 377px;
  margin-left: 8px;
  margin-top: 10px;
}

.search_item_row_2 {
  display: flex;
  flex-direction: column;
  margin-top: 160px;
  margin-left: 10px;
  gap: 40px;
  padding: 0px 0px !important;

}

/* four section end */

/* five section start */


.gallery_containor{
  max-width: 1140px;
  height: auto;
  background-color: #F9FBFD;
  margin: 0 auto;
  padding: 16px 16px;
}

.gallery_row{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 40px;
}

.galery_col{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery_img{
  width: 100%;
}

.gallery_img img{
  width: 90%;
}

/* five section end */

.footer_row{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer_col{
  width: 100%;
  justify-items: flex-start;
}

}